@import url('https://fonts.googleapis.com/css2?family=Google+Sans+Code:ital,wght@0,300..800;1,300..800&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

body {
    width: 350px;
    margin: 0 auto;
}

p {
    font-family: 'Roboto', monospace;
    font-size: 16px;
}

input {
    margin-bottom: 10px;
    font-family: 'Roboto', monospace;
    font-size: 16px;
}

button {
    background-color: #0073e6;
    color: white;
    border: none;
    cursor: pointer;
    font-family: 'Roboto', monospace;
    font-size: 16px;
}

button:hover {
  background-color: #005bb5;
}

h1 {
    font-family: 'Roboto', monospace;
}

summary {
    font-family: 'Roboto', monospace;
    cursor: pointer;
}