@import url('https://fonts.googleapis.com/css2?family=Krona+One&display=swap');

body {
    width: 350px;
    margin: 0 auto;
}

p {
    font-family: 'Krona One', monospace;
    font-size: 16px;
}

input {
    margin-bottom: 25px;
    font-family: 'Krona One', monospace;
    font-size: 16px;
}

button {
    margin-top: 10px;
    font-family: 'Krona One', monospace;
    font-size: 16px;
}

h1 {
    font-family: 'Krona One', monospace;
}
